body,
#app{
    min-height: 100vh !important;
}

a{
    color: none;
    text-decoration: none;
}

.main-content{
    min-height: 100%;
}

.container{
    max-width: 1200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.header{
    .nav-link:hover,
    .active{
        color: #e60012 !important;
        cursor: pointer !important;
    }

    #logo{
        width: 243px;
        height: 60px;
    }
}

.text-hover-red:hover{
    color: #e60012 !important;

}