$color-red: #e60012;

// General styles
body,
#app {
    min-height: 100vh !important;
}

a {
    color: none;
    text-decoration: none;
}

.main-content {
    min-height: 75vh;
}

.container {
    // max-width: 1200px !important;
    // margin-left: auto !important;
    // margin-right: auto !important;
    min-height: 84vh;
}

.table-input{
    outline: 1px dashed #dad7d7 !important;
    padding-left: 5px !important;
}

.text-italic{
    font-style: italic !important;
}


// Text hover styles
.text-hover-red:hover {
    color: $color-red !important;
}

.text-my-red {
    color: $color-red !important;
}


// Margins
.mt-100 {
    margin-top: 100px !important;
}


// Header styles
.header {
    .nav-link {
        font-size: 18px;
    }

    .nav-link:hover,
    .active {
        color: $color-red !important;
        cursor: pointer !important;
    }

    #logo {
        width: 243px;
        height: 60px;
    }
}
